@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


body {
    background-color: hsl(216, 12%, 8%);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div0{
    background-color: rgb(25,32,42);
    width: 350px;
    height: 350px;
    padding: 30px;
    border-radius: 35px;
    font-family: 'Overpass', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div1{
    margin-bottom: 30px;
    display:flex;
    justify-content: center;

}

img {
    width: 170px;
}

.div2{
    padding: 7px;
    background-color: rgb(38, 47, 56);
    width:200px;
    height: 30px;
    border-radius: 30px;
    color: hsl(25, 97%, 53%);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.div3{
    color : white;
    font-size: 30px;
    margin-bottom: 10px;

}

.div4{
    padding: 4px;
    text-align: center;
    line-height: 25px;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    margin-bottom: 30px;
}
